* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.avif binary
*.blend binary
*.exr binary
*.glb binary
*.hdr binary
*.jpg binary
*.jpeg binary
*.ktx2 binary
*.png binary
*.webp binary
*.woff2 binary
